{% extends 'admin/admin.html.twig' %}

{% block title %}
    Feltoltott filek - {{ parent() }}
{% endblock %}

{% block adminContent %}
    {# Template for egf table. #}
    {% include 'admin/js-templates/egf-table-template.html' %}
    {% include 'admin/js-templates/egf-table-row-template.html' %}
    {% include 'admin/js-templates/egf-pagination-template.html' %}

    {# Buttons #}
    <a href="{{ path('app_admin_content_file_create') }}">File feltoltes</a><br/><br/>

    {# Content #}
    <div id="table-container"></div>
{% endblock %}

{% block preScripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/egf/egf-table.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-pagination.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-sf-route.js') }}"></script>
{% endblock %}

{% block postScripts %}
    {{ parent() }}
    <script type="text/javascript">
        new Egf.Table()
            .setContainerElemId('table-container')
            .setContents(JSON.parse('{{ listAsJson|raw }}'))
            .setConfig({
                sortByColumnKey: 0,
                sortByReversed:  false,
                rowsOnPage:      5
            })
            .setTranslations({
                globalSearchPlaceholder: 'Kereses'
            })
            .setColumns([{
                text:     'Label',
                property: 'label',
                search:   'string',
                sort:     true
            }, {
                text:     'Description',
                property: 'description',
                search:   'string',
                sort:     true
            }, {
                text:     'OriginalName',
                property: 'originalName',
                search:   'string',
                sort:     true
            }, {
                text:     'StorageName',
                property: 'storageName',
                search:   'string',
                sort:     true
            }, {
                text: 'Image',
                func: function (row) {
                    return "<img src='{{ uploadsDir }}" + row.storageName + "' style='max-height:50px;' />";
                }
            }, {
                text: '',
                func: function (row) {
                    var url = new Egf.Sf.Route()
                        .setRoute('{{ path('app_admin_content_file_update', {'file':'_id_'}) }}')
                        .setParams({
                            '_id_': row.id
                        })
                        .getUrl();

                    return "<a href='" + url + "'>Modosit</a>";
                }
            }])
            .init();
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}