{% extends 'admin/admin.html.twig' %}

{% import 'admin/macro.html.twig' as macro %}

{% block title %}
    {{ 'page_title.admin.file.list'|trans }} - {{ parent() }}
{% endblock %}

{% block adminMenu %}
    {% include 'admin/adminMenu.html.twig' with {activeMenu:'file'} %}
{% endblock %}

{% block buttons %}
    {{ macro.button('app_admin_content_file_create', 'create'|trans) }}
{% endblock %}

{% block contentTitle %}
    {{ 'page_title.admin.file.list'|trans }}
{% endblock %}

{% block adminContent %}
    {# Template for egf table. #}
    {% include 'admin/js-templates/egf-table-template.html' %}
    {% include 'admin/js-templates/egf-table-row-template.html' %}
    {% include 'admin/js-templates/egf-pagination-template.html' %}

    {# Content #}
    <div id="table-container"></div>
{% endblock %}

{% block preScripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/egf/egf-table.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-pagination.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-sf-route.js') }}"></script>
{% endblock %}

{% block postScripts %}
    {{ parent() }}
    <script type="text/javascript">
        new Egf.Table()
            .setContainerElemId('table-container')
            .setContents(JSON.parse('{{ listAsJson|raw }}'))
            .setConfig({
                sortByColumnKey: 0,
                sortByReversed:  false,
                rowsOnPage:      5
            })
            .setTranslations({
                globalSearchPlaceholder: '{{ "search"|trans }}'
            })
            .setColumns([{
                text:     '{{ "label"|trans }}',
                property: 'label',
                search:   'string',
                sort:     true
            }, {
                text:     '{{ "description"|trans }}',
                property: 'description',
                search:   'string',
                sort:     true
            }, {
                text: '{{ "image"|trans }}',
                func: function (row) {
                    return "<img src='{{ uploadsDir }}" + row.storageName + "' style='max-height:50px;' />";
                }
            }, {
                text: '',
                func: function (row) {
                    var url = new Egf.Sf.Route()
                        .setRoute('{{ path('app_admin_content_file_update', {'file':'_id_'}) }}')
                        .setParams({
                            '_id_': row.id
                        })
                        .getUrl();

                    return "<a href='" + url + "' class='btn btn-default'>{{ 'update'|trans }}</a>";
                }
            }])
            .init();
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}