{% extends 'site/site.html.twig' %}

{% block title %}
    {{ 'site.title.profile.earlier_orders'|trans }} - {{ parent() }}
{% endblock %}

{% block siteContent %}
    {# Template for egf table. #}
    {% include 'admin/js-templates/egf-table-template.html' %}
    {% include 'admin/js-templates/egf-table-row-template.html' %}
    {% include 'admin/js-templates/egf-pagination-template.html' %}

    {# Content #}
    <div id="table-container"></div>

{% endblock %}

{% block preScripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/egf/egf.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-template.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-table.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-pagination.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-sf-route.js') }}"></script>
{% endblock %}

{% block postScripts %}
    {{ parent() }}
    <script type="text/javascript">
        new Egf.Table()
            .setContainerElemId('table-container')
            .setContents(JSON.parse('{{ listAsJson|raw }}'))
            .setConfig({
                sortByColumnKey: 0,
                sortByReversed:  true,
                rowsOnPage:      10
            })
            .setTranslations({
                globalSearchPlaceholder: 'Kereses'
            })
            .setColumns([{
                text: "{{ 'site.content.profile.order.date'|trans }}",
                property: 'date',
                sort: true
            }, {
                text: "{{ 'site.content.profile.order.status'|trans }}",
                search:   'string',
                func: function (row) {
                    return row.status.label;
                },
                sort: function (row) {
                    return row.id;
                }
            }, {
                text: "{{ 'site.content.profile.order.price_sum'|trans }}",
                property: 'priceSum',
                sort: true
            }, {
                text: '',
                func: function (row) {
                    var url = new Egf.Sf.Route()
                        .setRoute('{{ path('app_site_user_profile_earlierorderdetails', {'order':'_id_'}) }}')
                        .setParams({
                            '_id_': row.id
                        })
                        .getUrl();

                    return "<a href='" + url + "'>{{ 'site.content.profile.link.earlier_order_details'|trans }}</a>";
                }
            }])
            .init();
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}