{% extends 'site/site.html.twig' %}

{% block title %}
    {{ 'page_title.site.profile.earlier_order_details'|trans }} - {{ parent() }}
{% endblock %}

{% block siteContent %}

    <h1>{{ 'page_title.site.profile.earlier_order_details'|trans }}</h1>
    <br/>

    <table class="table">
        <tr>
            <td>{{ 'common.id'|trans }}</td>
            <td>{{ order.id }}</td>
        </tr>
        <tr>
            <td>{{ 'common.date'|trans }}</td>
            <td>{{ order.date|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <td>{{ 'common.status'|trans }}</td>
            <td>{{ order.status.label }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ 'common.products'|trans }}</td>
        </tr>
        <tr>
            <td colspan="2">

                {% set sumPrice = 0 %}

                <table class="earlier-orders-inner-table">
                    <thead>
                    <tr>
                        <th>{{ 'common.product'|trans }}</th>
                        <th>{{ 'common.quantity'|trans }}</th>
                        <th>{{ 'common.price'|trans }}</th>
                        <th>{{ 'common.sum_total'|trans }}</th>
                    </tr>
                    </thead>
                    {% for item in order.items %}
                        {% set price = item.price ? item.price : item.product.price %}
                        {% set rowPrice = price * item.count %}
                        {% set sumPrice = sumPrice + rowPrice %}

                        <tr>
                            <td>{{ item.product.label }}</td>
                            <td>{{ item.count }} {{ 'common.quantity_short'|trans }}</td>
                            <td>{{ price }} {{ 'common.currency_short'|trans }}</td>
                            <td>{{ rowPrice }} {{ 'common.currency_short'|trans }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>

        {% if order.deliveryAddress and sumPrice < noDeliveryPriceAbove %}
            <tr>
                <td>{{ 'common.delivery_price'|trans }}</td>
                <td>{{ deliveryPrice }} {{ 'common.currency_short'|trans }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>{{ 'common.sum_total'|trans }}</td>
            <td>{{ order.priceSum }} {{ 'common.currency_short'|trans }}</td>
        </tr>
    </table>

    <a href="{{ path('app_site_user_profile_earlierorders') }}" class="btn btn-default">
        {{ 'common.back_to_list'|trans }}
    </a>

{% endblock %}
