{% extends 'site/site.html.twig' %}

{% import _self as self %}

{% block title %}
    {{ 'page_title.site.profile.earlier_order_details'|trans }} - {{ parent() }}
{% endblock %}

{% block siteContent %}

    <h1>{{ 'page_title.site.profile.earlier_order_details'|trans }}</h1>
    <br/>

    <table class="table">
        <tr>
            <td>{{ 'common.id'|trans }}</td>
            <td>{{ order.id }}</td>
        </tr>
        <tr>
            <td>{{ 'common.date'|trans }}</td>
            <td>{{ order.date|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <td>{{ 'common.status'|trans }}</td>
            <td>{{ order.status.label }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ 'common.products'|trans }}</td>
        </tr>
        <tr>
            <td colspan="2">

                {% set sumPrice = 0 %}

                <table class="earlier-orders-inner-table">
                    <thead>
                    <tr>
                        <th>{{ 'common.product'|trans }}</th>
                        <th>{{ 'common.quantity'|trans }}</th>
                        <th>{{ 'common.price'|trans }}</th>
                        <th>{{ 'common.sum_total'|trans }}</th>
                    </tr>
                    </thead>
                    {% for item in order.items %}
                        {% set price = item.price ? item.price : item.product.price %}
                        {% set rowPrice = price * item.count %}
                        {% set sumPrice = sumPrice + rowPrice %}

                        <tr>
                            <td>{{ item.product.label }}</td>
                            <td>{{ item.count }} {{ 'common.quantity_short'|trans }}</td>
                            <td>{{ price }} {{ 'common.currency_short'|trans }}</td>
                            <td>{{ rowPrice }} {{ 'common.currency_short'|trans }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>

        {% if order.deliveryAddress and sumPrice < noDeliveryPriceAbove %}
            {% set sumPrice = sumPrice + deliveryPrice %}

            <tr>
                <td>{{ 'common.delivery_price'|trans }}</td>
                <td>{{ deliveryPrice }} {{ 'common.currency_short'|trans }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>{{ 'common.sum_total'|trans }}</td>
            <td>{{ sumPrice }} {{ 'common.currency_short'|trans }}</td>
        </tr>
    </table>

    {% if order.deliveryAddress %}
        {{ self.printAddress('delivery', order.deliveryAddress) }}
    {% endif %}

    {% if order.billingAddress %}
        {{ self.printAddress('billing', order.billingAddress) }}
    {% endif %}

    <a href="{{ path('app_site_user_profile_earlierorders') }}" class="btn btn-default">
        {{ 'common.back_to_list'|trans }}
    </a>

{% endblock %}

{# Show address. #}
{% macro printAddress(type, address) %}
    <table class="table confirm_address">
        <thead>
        <tr>
            <th colspan="2">{{ ('common.' ~ type ~ '_address')|trans}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ 'common.title'|trans}}</td>
            <td>{{ address.title }}</td>
        </tr>
        <tr>
            <td>{{ 'common.city'|trans}}</td>
            <td>{{ address.city }}</td>
        </tr>
        <tr>
            <td>{{ 'common.zip_code'|trans}}</td>
            <td>{{ address.zipCode }}</td>
        </tr>
        <tr>
            <td>{{ 'common.street'|trans}}</td>
            <td>{{ address.street }}</td>
        </tr>
        <tr>
            <td>{{ 'common.house_number'|trans}}</td>
            <td>{{ address.houseNumber }}</td>
        </tr>
        <tr>
            <td>{{ 'common.door_bell'|trans}}</td>
            <td>{{ address.doorBell }}</td>
        </tr>
        <tr>
            <td>{{ 'common.floor'|trans}}</td>
            <td>{{ address.floor }}</td>
        </tr>
        <tr>
            <td>{{ 'common.door'|trans}}</td>
            <td>{{ address.door }}</td>
        </tr>
        </tbody>
    </table>
{% endmacro %}