{% extends 'site/site.html.twig' %}

{% block title %}
    {{ 'page_title.site.profile.earlier_orders'|trans }} - {{ parent() }}
{% endblock %}

{% block siteContent %}
    {# Template for egf table. #}
    {% include 'admin/js-templates/egf-table-template.html' %}
    {% include 'admin/js-templates/egf-table-row-template.html' %}
    {% include 'admin/js-templates/egf-pagination-template.html' %}

    <h1>{{ 'page_title.site.profile.earlier_orders'|trans }}</h1>

    {# Table content #}
    <div id="table-container"></div>

    <br /><br />
    <a href="{{ path('app_site_user_profile_main') }}" class="btn btn-default">
        {{ 'common.back'|trans }}
    </a>

{% endblock %}

{% block preScripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/egf/egf.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-template.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-table.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-pagination.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-sf-route.js') }}"></script>
{% endblock %}

{% block postScripts %}
    {{ parent() }}
    <script type="text/javascript">
        new Egf.Table()
            .setContainerElemId('table-container')
            .setContents(JSON.parse('{{ listAsJson|raw }}'))
            .setConfig({
                sortByColumnKey: 0,
                sortByReversed:  true,
                rowsOnPage:      15
            })
            .setTranslations({
                globalSearchPlaceholder: '{{ 'common.search'|trans }}'
            })
            .setColumns([{
                text: "{{ 'common.date'|trans }}",
                property: 'date',
                sort: true
            }, {
                text: "{{ 'common.status'|trans }}",
                search:   'string',
                func: function (row) {
                    return row.status.label;
                },
                sort: function (row) {
                    return row.id;
                }
            }, {#{
                text: "{{ 'common.sum_total'|trans }}",
                property: 'priceSum',
                func: function (row) {
                    return row.priceSum + " {{ 'common.currency_short'|trans }}";
                },
                sort: true
            }, #}{
                text: '',
                func: function (row) {
                    var url = new Egf.Sf.Route()
                        .setRoute('{{ path('app_site_user_profile_earlierorderdetails', {'order':'_id_'}) }}')
                        .setParams({
                            '_id_': row.id
                        })
                        .getUrl();

                    return "<a href='" + url + "' class='btn btn-default'>{{ 'common.details'|trans }}</a>";
                }
            }])
            .init();
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}