{% extends 'site/site.html.twig' %}

{% block title %}
    {{ 'page_title.site.profile.main'|trans }} - {{ parent() }}
{% endblock %}

{% block siteContent %}

    <h1>{{ 'page_title.site.profile.main'|trans }}</h1>

    <a href="{{ path('app_site_user_profile_earlierorders') }}" class="btn btn-default main_button">
        {{ 'nav.profile.earlier_orders'|trans }}
    </a>

    <a href="{{ path('app_site_user_address_list') }}" class="btn btn-default main_button">
        {{ 'nav.profile.address_list'|trans }}
    </a>

    <a href="{{ path('app_site_user_profile_userupdateform') }}" class="btn btn-default main_button">
        {{ 'nav.profile.user_update'|trans }}
    </a>

{% endblock %}
