{% extends 'site/site.html.twig' %}

{% block title %}
    {{ 'site.title.profile.main'|trans }} - {{ parent() }}
{% endblock %}

{% block siteContent %}

    <br />
    <a href="{{ path('app_site_user_profile_earlierorders') }}">{{ 'site.content.profile.link.earlier_orders'|trans }}</a>
    <br />
    <a href="{{ path('app_site_user_profile_earlierorders') }}">{{ 'site.content.profile.link.address_list'|trans }}</a>
    <br />
    <a href="{{ path('app_site_user_profile_userupdate') }}">{{ 'site.content.profile.link.user_update'|trans }}</a>

{% endblock %}
