{% extends 'site/site.html.twig' %}

{% form_theme formView 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {{ 'page_title.site.profile.user_update'|trans }}
    - {{ parent() }}
{% endblock %}

{% block siteContent %}

    <h1>{{ 'page_title.site.profile.user_update'|trans }}</h1>

    {{ form_start(formView) }}

    {{ form_errors(formView) }}

    {{ form_row(formView.name) }}
    {{ form_row(formView.email) }}
    {{ form_row(formView.phone) }}
    <hr />
    {{ form_row(formView.plainPassword) }}
    <hr />
    {{ form_row(formView.oldPassword) }}
    <div class="input_comment">
        {{'form.user.old_password'|trans }}
    </div>

    {{ form_end(formView) }}

    <br />
    <a href="{{ path('app_site_user_profile_main') }}" class="btn btn-default">
        {{ 'back'|trans }}
    </a>

    <script type="text/javascript">
    </script>

{% endblock %}

{% block preScripts %}
    {{ parent() }}
{% endblock %}

{% block postScripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}