{% extends 'admin/admin.html.twig' %}

{% import 'admin/macro.html.twig' as macro %}

{% block title %}
    {{ 'page_title.admin.user_address.list'|trans({'%user%':user.name}) }} - {{ parent() }}
{% endblock %}

{% block adminMenu %}
    {% include 'admin/adminMenu.html.twig' with {activeMenu:'user'} %}
{% endblock %}

{% block buttons %}
    {{ macro.buttonToUrl(path('app_admin_user_address_create', {'user':user.id}), 'common.create'|trans) }}
{% endblock %}

{% block contentTitle %}
    {{ 'page_title.admin.user_address.list'|trans({'%user%':user.name}) }}
{% endblock %}

{% block adminContent %}
    {% include 'admin/js-templates/egf-table-template.html' %}
    {% include 'admin/js-templates/egf-table-row-template.html' %}
    {% include 'admin/js-templates/egf-pagination-template.html' %}

    {# Content #}
    <div id="table-container"></div>
{% endblock %}

{% block preScripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/egf/egf-table.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-pagination.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-sf-route.js') }}"></script>
{% endblock %}

{% block postScripts %}
    {{ parent() }}
    <script type="text/javascript">
        new Egf.Table()
            .setContainerElemId('table-container')
            .setContents(JSON.parse('{{ listAsJson|raw }}'))
            .setConfig({
                sortByColumnKey: 0,
                sortByReversed:  false,
                rowsOnPage:      15
            })
            .setTranslations({
                globalSearchPlaceholder: '{{ "common.search"|trans }}'
            })
            .setColumns([{
                text:     '{{ "common.title"|trans }}',
                property: 'title',
                search:   'string',
                sort:     true
            }, {
                text:     '{{ "common.city"|trans }}',
                property: 'city',
                search:   'string',
                sort:     true
            }, {
                text:     '{{ "common.zipCode"|trans }}',
                property: 'zipCode',
                search:   'string',
                sort:     true
            }, {
                text:     '{{ "common.street"|trans }}',
                property: 'street',
                search:   'string',
                sort:     true
            }, {
                text:     '{{ "common.houseNumber"|trans }}',
                property: 'houseNumber'
            }, {
                text: '',
                func: function (row) {
                    var updateUrl = new Egf.Sf.Route()
                        .setRoute('{{ path('app_admin_user_address_update', {'address':'_id_'}) }}')
                        .setParams({
                            '_id_': row.id
                        })
                        .getUrl();

                    var html = "<a href='" + updateUrl + "' class='btn btn-default btn-xs'>{{ 'common.update'|trans }}</a> ";

                    return html;
                }
            }])
            .init();
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}