<a href="{{ path('app_site_content_page_index') }}" title="Fürjtojás.eu" rel="home" id="logo">
    <img src="/images/logo.png" width="435" height="125" alt="Japán fürj" title="Japán fürj"/>
</a>
<nav class="small">
    <ul id="menu-legfelso" class="menu">

        {% if is_granted('ROLE_USER') %}
            {# Profile page #}
            <li>
                <a href="{{ path('app_site_user_profile_main') }}">{{ "menu.site.profile_page"|trans }}</a>
            </li>
            {# Logout #}
            <li>
                <a href="{{ path('logout') }}">{{ "logout"|trans }}</a>
            </li>
        {% else %}
            {# Registration #}
            <li>
                <a href="{{ path('app_site_user_registration_registration') }}">{{ "registration"|trans }}</a>
            </li>
            {# Login #}
            <li>
                <a href="{{ path('app_site_user_login_login') }}">{{ "login"|trans }}</a>
            </li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            {# Admin #}
            <li>
                <a href="{{ path('app_admin_dashboard_index') }}" target="_blank">{{ "menu.site.admin"|trans }}</a>
            </li>
        {% endif %}

    </ul>
</nav>
<div class="contact">
    <span>Rendeljen füstölt fürjtojást!</span>
    <ul>
        <li class="phone">(06)-30-655-8977</li>
        <li class="mail">info@furjtojas.eu</li>
    </ul>
</div>
<div class="clear"></div>