<nav class="main">
    <ul id="menu-fejlec-menu" class="menu"><li id="menu-item-164" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-164">
            <a href="{{ path('app_site_content_page_index') }}">
                Termékeink
            </a>
            <ul class="sub-menu">
                <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
                    <a href="{{ path('app_site_content_page_text', {'code': 'fustolt-furjtojas'}) }}">
                        Füstölt fürjtojás
                    </a>
                </li>
                <li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53">
                    <a href="{{ path('app_site_content_page_text', {'code': 'fott-furjtojas-konzerv'}) }}">
                        Főtt fürjtojás konzerv
                    </a>
                </li>
                <li id="menu-item-234" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-234">
                    <a href="{{ path('app_site_content_page_text', {'code': 'szojabab'}) }}">
                        Szójabab
                    </a>
                </li>
                <li id="menu-item-233" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-233">
                    <a href="{{ path('app_site_content_page_text', {'code': 'shiso-level'}) }}">
                        Shiso levél
                    </a>
                </li>
            </ul>
        </li>
        <li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56">
            <a href="{{ path('app_site_content_page_text', {'code': 'furj-tenyesztojas'}) }}">
                Fürj tenyésztojás
            </a>
            <ul class="sub-menu">
                <li id="menu-item-89" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89">
                    <a href="{{ path('app_site_content_page_text', {'code': 'furjtojas-keltetes'}) }}">
                        Fürjtojás keltetés
                    </a>
                </li>
                <li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87">
                    <a href="{{ path('app_site_content_page_text', {'code': 'tenyesztojas-rendelesi-lehetoseg'}) }}">
                        Tenyésztojás igénylési lehetőség
                    </a>
                </li>
                <li id="menu-item-264" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-264">
                    <a href="{{ path('app_site_content_page_text', {'code': 'tojas-eltarthatosag'}) }}">
                        Tojás eltarthatóság
                    </a>
                </li>
            </ul>
        </li>
        <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31">
            <a href="{{ path('app_site_content_page_text', {'code': 'egeszseges-etelek'}) }}">Egészséges ételek</a>
            <ul class="sub-menu">
                <li id="menu-item-95" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-95">
                    <a href="{{ path('app_site_content_page_text', {'code': 'tojas-etel'}) }}">
                        Tojás étel
                    </a>
                </li>
                <li id="menu-item-94" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-94">
                    <a href="{{ path('app_site_content_page_text', {'code': 'furjtojas-recept'}) }}">
                        Fürjtojás recept
                    </a>
                </li>
                <li id="menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93">
                    <a href="{{ path('app_site_content_page_text', {'code': 'furj-receptek'}) }}">
                        Fürj receptek
                    </a>
                </li>
                <li id="menu-item-92" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-92">
                    <a href="{{ path('app_site_content_page_text', {'code': 'potencianovelo-etel'}) }}">
                        Potencianövelő étel
                    </a>
                </li>
                <li id="menu-item-91" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-91">
                    <a href="{{ path('app_site_content_page_text', {'code': 'immunerosito-etel'}) }}">
                        Immunerősítő étel
                    </a>
                </li>
                <li id="menu-item-90" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90">
                    <a href="{{ path('app_site_content_page_text', {'code': 'magas-vernyomas-kezeles'}) }}">
                        Magas vérnyomás kezelés
                    </a>
                </li>
            </ul>
        </li>
        <li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30">
            <a href="{{ path('app_site_content_page_text', {'code': 'japan-furj'}) }}">
                Japán fürj
            </a>
            <ul class="sub-menu">
                <li id="menu-item-147" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-147">
                    <a href="{{ path('app_site_content_page_text', {'code': 'furj-tartasa'}) }}">
                        Fürj tartása
                    </a>
                </li>
                <li id="menu-item-146" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-146">
                    <a href="{{ path('app_site_content_page_text', {'code': 'furj-tenyesztese'}) }}">
                        Fürj tenyésztése
                    </a>
                </li>
                <li id="menu-item-144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-144">
                    <a href="{{ path('app_site_content_page_text', {'code': 'furjtojas-tarto'}) }}">
                        Fürjtojás tartó
                    </a>
                </li>
                <li id="menu-item-145" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145">
                    <a href="{{ path('app_site_content_page_text', {'code': 'furj-ketrecek'}) }}">
                        Fürj ketrecek
                    </a>
                </li>
            </ul>
        </li>
        <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29">
            <a href="{{ path('app_site_content_page_text', {'code': 'furjtojas-kura'}) }}">
                Fürjtojás kúra
            </a>
            <ul class="sub-menu">
                <li id="menu-item-204" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-204">
                    <a href="{{ path('app_site_content_page_text', {'code': 'furjtojas-hatasa'}) }}">
                        Fürjtojás hatása
                    </a>
                </li>
                <li id="menu-item-203" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-203">
                    <a href="{{ path('app_site_content_page_text', {'code': 'furjtojas-tapasztalatok'}) }}">
                        Fürjtojás tapasztalatok
                    </a>
                </li>
            </ul>
        </li>
        <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27">
            <a href="{{ path('app_site_simpleshop_neworder_selectproducts') }}">
                Tojás vásárlás
            </a>
        </li>
    </ul>
</nav>