{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div id="wrapper">

        <header>
            {% include 'site/header.html.twig' %}
            {% include 'site/siteMenu.html.twig' %}
        </header>

        <div class="body">
            {% block siteContent %}{% endblock %}
        </div>

        {% include 'site/footer.html.twig' %}

    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/site/site.css') }}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/site/eggshop.css') }}" />
{% endblock %}