<a href="{{ path('app_site_content_page_index') }}">
    Kezdo oldal
</a>

<a href="{{ path('app_site_content_page_text', {'code': 'fustolt_furjtojas'}) }}">
    Furjtojasrol
</a>

<a href="{{ path('app_site_simpleshop_neworder_selectproducts') }}">
    Tojas vasarlas
</a>

<a href="{{ path('app_admin_dashboard_index') }}" target="_blank">
    Admin
</a>

<a href="{{ path('app_security_login') }}">
    Login
</a>

<a href="{{ path('logout') }}">
    Logout
</a>