{% extends 'admin/admin.html.twig' %}

{% import 'admin/macro.html.twig' as macro %}

{% block title %}
    {{ 'admin.title.user.list'|trans }} - {{ parent() }}
{% endblock %}

{% block adminMenu %}
    {% include 'admin/adminMenu.html.twig' with {activeMenu:'user'} %}
{% endblock %}

{% block buttons %}
    {{ macro.button('app_admin_user_user_create', 'admin.link.to_create'|trans) }}
{% endblock %}

{% block contentTitle %}
    {{ 'admin.title.user.list'|trans }}
{% endblock %}

{% block adminContent %}
    {% include 'admin/js-templates/egf-table-template.html' %}
    {% include 'admin/js-templates/egf-table-row-template.html' %}
    {% include 'admin/js-templates/egf-pagination-template.html' %}

    {# Content #}
    <div id="table-container"></div>
{% endblock %}

{% block preScripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/egf/egf-table.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-pagination.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-sf-route.js') }}"></script>
{% endblock %}

{% block postScripts %}
    {{ parent() }}
    <script type="text/javascript">
        new Egf.Table()
            .setContainerElemId('table-container')
            .setContents(JSON.parse('{{ listAsJson|raw }}'))
            .setConfig({
                sortByColumnKey: 0,
                sortByReversed:  false,
                rowsOnPage:      10
            })
            .setTranslations({
                globalSearchPlaceholder: '{{ "site.common.search"|trans }}'
            })
            .setColumns([{
                text:     '{{ "admin.label.user.name"|trans }}',
                property: 'name',
                search:   'string',
                sort:     true
            }, {
                text:     '{{ "admin.label.user.email"|trans }}',
                property: 'email',
                search:   'string',
                sort:     true
            }, {
                text: '{{ "admin.label.common.active"|trans }}',
                func: function (row) {
                    return Egf.Util.boolVal(row.active) ? '{{ "admin.label.common.active"|trans }}' : '{{ "admin.label.common.inactive"|trans }}';
                },
                sort: function (row) {
                    return (row.active ? 1 : 2);
                }
            }, {
                text: '{{ "admin.label.user.role"|trans }}',
                func: function (row) {
                    return row.role === 'ROLE_ADMIN' ? 'Admin' : '';
                },
                sort: function (row) {
                    return row.role === 'ROLE_ADMIN' ? 1 : 2;
                }
            }, {
                text: '',
                func: function (row) {
                    var url = new Egf.Sf.Route()
                        .setRoute('{{ path('app_admin_user_user_update', {'user':'_id_'}) }}')
                        .setParams({
                            '_id_': row.id
                        })
                        .getUrl();

                    return "<a href='" + url + "' class='btn btn-default'>{{ 'admin.link.to_update'|trans }}</a>";
                }
            }])
            .init();
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}