{% extends 'admin/admin.html.twig' %}

{% import 'admin/macro.html.twig' as macro %}

{% block title %}
    {{ 'page_title.admin.user.list'|trans }} - {{ parent() }}
{% endblock %}

{% block adminMenu %}
    {% include 'admin/adminMenu.html.twig' with {activeMenu:'user'} %}
{% endblock %}

{% block buttons %}
    {{ macro.button('app_admin_user_user_create', 'common.create'|trans) }}
{% endblock %}

{% block contentTitle %}
    {{ 'page_title.admin.user.list'|trans }}
{% endblock %}

{% block adminContent %}
    {% include 'admin/js-templates/egf-table-template.html' %}
    {% include 'admin/js-templates/egf-table-row-template.html' %}
    {% include 'admin/js-templates/egf-pagination-template.html' %}

    {# Content #}
    <div id="table-container"></div>
{% endblock %}

{% block preScripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/egf/egf-table.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-pagination.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-sf-route.js') }}"></script>
{% endblock %}

{% block postScripts %}
    {{ parent() }}
    <script type="text/javascript">
        new Egf.Table()
            .setContainerElemId('table-container')
            .setContents(JSON.parse('{{ listAsJson|raw }}'))
            .setConfig({
                sortByColumnKey: 0,
                sortByReversed:  false,
                rowsOnPage:      15
            })
            .setTranslations({
                globalSearchPlaceholder: '{{ "common.search"|trans }}'
            })
            .setColumns([{
                text:     '{{ "common.name"|trans }}',
                property: 'name',
                search:   'string',
                sort:     true
            }, {
                text:     '{{ "common.email"|trans }}',
                property: 'email',
                search:   'string',
                sort:     true
            }, {
                text: '{{ "common.active"|trans }}',
                func: function (row) {
                    return Egf.Util.boolVal(row.active) ? '{{ "common.active"|trans }}' : '{{ "common.inactive"|trans }}';
                },
                sort: function (row) {
                    return (row.active ? 1 : 2);
                }
            }, {
                text: '{{ "common.role"|trans }}',
                func: function (row) {
                    return row.role === 'ROLE_ADMIN' ? 'Admin' : '';
                },
                sort: function (row) {
                    return row.role === 'ROLE_ADMIN' ? 1 : 2;
                }
            }, {
                text: '',
                func: function (row) {
                    var newOrderUrl = new Egf.Sf.Route()
                        .setRoute('{{ path('app_admin_simpleshop_order_create', {'user':'_id_'}) }}')
                        .setParams({
                            '_id_': row.id
                        })
                        .getUrl();
                    var html = "<a href='" + newOrderUrl + "' class='btn btn-default btn-xs'>{{ 'nav.user.new_order'|trans }}</a> ";

                    var updateUrl = new Egf.Sf.Route()
                        .setRoute('{{ path('app_admin_user_user_update', {'user':'_id_'}) }}')
                        .setParams({
                            '_id_': row.id
                        })
                        .getUrl();
                    html += "<a href='" + updateUrl + "' class='btn btn-default btn-xs'>{{ 'common.update'|trans }}</a> ";

                    var addressesUrl = new Egf.Sf.Route()
                        .setRoute('{{ path('app_admin_user_address_list', {'user':'_id_'}) }}')
                        .setParams({
                            '_id_': row.id
                        })
                        .getUrl();
                    html += "<a href='" + addressesUrl + "' class='btn btn-default btn-xs'>{{ 'common.addresses'|trans }}</a> ";

                    return html;
                }
            }])
            .init();
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}