{% extends 'site/site.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {{ 'page_title.site.registration'|trans }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/admin/bootstrap.min.css') }}" />

    {{ parent() }}
{% endblock %}

{% block siteContent %}

    <h1>{{ 'page_title.site.registration'|trans }}</h1>

    {{ beforeTextEntity.getText()|raw }}
    <br /><br />

    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    {{ form_end(form) }}

    {{ afterTextEntity.getText()|raw }}

{% endblock %}
