{% extends 'base.html.twig' %}

{% block title %}
    Admin - {{ parent() }}
{% endblock %}

{% block body %}

    <hr />
    <a href="{{ path('app_admin_dashboard_index') }}">Kezdooldal</a>
    <a href="{{ path('app_admin_category_list') }}">Kategoriak</a>
    <a href="{{ path('app_admin_product_list') }}">Termekek</a>
    <hr />

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div id="admin-content">

        {% block adminContent %}{% endblock %}

    </div><!-- #admin-content -->

{% endblock %}

{% block preScripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/egf/egf.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-template.js') }}"></script>
{% endblock %}

{% block postScripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/admin/admin.css') }}" rel="stylesheet" />
{% endblock %}