<ul id="admin-menu" class="nav nav-tabs">
    <li>
        <a href="{{ path('app_admin_dashboard_index') }}">Kezdooldal</a>
    </li>
    <li>
    <a href="{{ path('app_admin_simpleshop_order_list') }}">
        Megrendelesek
    </a>
    </li>
    <li>
    <a href="{{ path('app_admin_simpleshop_category_list') }}">
        Kategoriak
    </a>
    </li>
    <li>
    <a href="{{ path('app_admin_simpleshop_product_list') }}">
        Termekek
    </a>
    </li>
    <li>
    <a href="{{ path('app_admin_content_text_list') }}">
        Szoveges tartalmak
    </a>
    </li>
    <li>
    <a href="{{ path('app_admin_content_file_list') }}">
        Filek
    </a>
    </li>
    <li>
    <a href="{{ path('app_admin_user_user_list') }}">
        Felhasznalok
    </a>
    </li>
    <li>
    <a href="{{ path('logout') }}">
        Logout
    </a>
    </li>
</ul>