<a href="{{ path('app_admin_dashboard_index') }}">Kezdooldal</a>
<a href="{{ path('app_admin_simpleshop_order_list') }}">Megrendelesek</a>
<a href="{{ path('app_admin_simpleshop_category_list') }}">Kategoriak</a>
<a href="{{ path('app_admin_simpleshop_product_list') }}">Termekek</a>
<a href="{{ path('app_admin_content_text_list') }}">Szoveges tartalmak</a>
<a href="{{ path('app_admin_content_file_list') }}">Filek</a>

<a href="{{ path('logout') }}">Logout</a>