{% extends 'base.html.twig' %}

{% block title %}
    Admin - {{ parent() }}
{% endblock %}

{% block body %}

    <div id="admin-menu-container">
        {% include 'admin/adminMenu.html.twig' %}
    </div><!-- #admin-menu-container -->

    <div id="admin-flashmessages-container">
        {% include 'admin/adminFlashMessages.html.twig' %}
    </div><!-- #admin-flashmessages-container -->

    <div id="admin-content-container">
        {% block adminContent %}{% endblock %}
    </div><!-- #admin-content-container -->

{% endblock %}

{% block preScripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/egf/egf.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-template.js') }}"></script> {#Ez miert itt van?#}
{% endblock %}

{% block postScripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link href="{{ asset('css/admin/admin.css') }}" rel="stylesheet" />
{% endblock %}