{# Men items in an UL. #}
{% macro menuItem(active, text, route) %}
    <li{% if active %} class="active"{% endif %}>
        <a href="{{ path(route) }}">
            {{ text }}
        </a>
    </li>
{% endmacro %}

{# Link to route. #}
{% macro button(route, label) %}
    <a href="{{ path(route) }}" class="btn btn-default button-on-top">{{ label }}</a>
{% endmacro %}

{# Link to URL. #}
{% macro buttonToUrl(url, label) %}
    <a href="{{ url }}" class="btn btn-default button-on-top">{{ label }}</a>
{% endmacro %}

{# Input comment #}
{% macro inputComment(text) %}
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10 input_comment">
        {{ text|raw }}
    </div>
{% endmacro %}

{# Address details #}
{% macro address(address, headText) %}
    <table class="table">
        <thead>
        <tr>
            <th colspan="2" class="text-center">{{ headText }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ 'title'|trans}}</td>
            <td>{{ address.title }}</td>
        </tr>
        <tr>
            <td>{{ 'city'|trans}}</td>
            <td>{{ address.city }}</td>
        </tr>
        <tr>
            <td>{{ 'zip_code'|trans}}</td>
            <td>{{ address.zipCode }}</td>
        </tr>
        <tr>
            <td>{{ 'street'|trans}}</td>
            <td>{{ address.street }}</td>
        </tr>
        <tr>
            <td>{{ 'house_number'|trans}}</td>
            <td>{{ address.houseNumber }}</td>
        </tr>
        <tr>
            <td>{{ 'door_bell'|trans}}</td>
            <td>{{ address.doorBell }}</td>
        </tr>
        <tr>
            <td>{{ 'floor'|trans}}</td>
            <td>{{ address.floor }}</td>
        </tr>
        <tr>
            <td>{{ 'door'|trans}}</td>
            <td>{{ address.door }}</td>
        </tr>
        </tbody>
    </table>
{% endmacro %}