{% extends 'site/site.html.twig' %}

{% form_theme formView 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {% if address.id %}
        {{ 'page_title.site.profile.address_update'|trans }}
    {% else %}
        {{ 'page_title.site.profile.address_create'|trans }}
    {% endif %}
    - {{ parent() }}
{% endblock %}

{% block siteContent %}

    <h1>
        {% if address.id %}
            {{ 'page_title.site.profile.address_update'|trans }}
        {% else %}
            {{ 'page_title.site.profile.address_create'|trans }}
        {% endif %}
    </h1>

    {{ form_start(formView) }}
    {{ form_widget(formView) }}
    {{ form_end(formView) }}

    <a href="{{ path('app_site_user_address_list') }}" class="btn btn-default">
        {{ 'back_to_list'|trans }}
    </a>

    <script type="text/javascript">
    </script>

{% endblock %}

{% block preScripts %}
    {{ parent() }}
{% endblock %}

{% block postScripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}