{% extends 'site/site.html.twig' %}

{% import _self as self %}

{% block title %}
    {{ 'page_title.site.new_order.confirm'|trans }} - {{ parent() }}
{% endblock %}

{% block siteContent %}

    <h1>{{ 'page_title.site.new_order.confirm'|trans }}</h1>

    {{ beforeTextEntity.getText()|raw }}
    <br/><br/>

    <h4>{{ 'common.products'|trans }}</h4>
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'common.products'|trans }}</th>
            <th class="text-right">{{ 'common.price'|trans }}</th>
            <th class="text-right">{{ 'common.quantity'|trans }}</th>
            <th class="text-right">{{ 'common.sum_total'|trans }}</th>
        </tr>
        </thead>

        {% set tableSum = 0 %}
        {% for product in productsInCart %}
            {% set rowSum =  product.price * app.session.get('cart')[product.id] %}
            {% set tableSum = tableSum + rowSum %}

            <tr>
                <td>{{ product.label }}</td>
                <td class="text-right">{{ product.price }} {{ 'common.currency_short'|trans }}</td>
                <td class="text-right">{{ app.session.get('cart')[product.id] }}</td>
                <td class="text-right"><strong>{{ rowSum|number_format(0, ',', ' ') }}</strong> {{ 'common.currency_short'|trans }}</td>
            </tr>
        {% endfor %}
    </table>

    <div style="text-align:right;">
        {% if (deliveryAddress or app.session.get('newDeliveryAddress')) and tableSum < noDeliveryPriceAbove %}
            {% set tableSum = tableSum + deliveryPrice %}

            {{ 'common.delivery_price'|trans }}: {{ deliveryPrice|number_format(0, ',', ' ') }} {{ 'common.currency_short'|trans }}
            <br />
        {% endif %}

        <br />
        {{ 'common.sum_total'|trans }}: <strong>{{ tableSum|number_format(0, ',', ' ') }} {{ 'common.currency_short'|trans }}</strong>
    </div>
    <br/><br/>

    <h4>{{ 'common.addresses'|trans }}</h4>

    {% if deliveryAddress or app.session.get('newDeliveryAddress') %} {# Delivery address #}
        {% if deliveryAddress %} {# Selected #}
            {% set delivery = deliveryAddress %}
        {% elseif app.session.get('newDeliveryAddress') %} {# New #}
            {% set delivery = app.session.get('newDeliveryAddress') %}
        {% endif %}

        {{ self.printAddress('delivery', delivery.title, delivery.city, delivery.zipCode, delivery.street, delivery.houseNumber, delivery.doorBell, delivery.floor, delivery.door) }}
    {% else %}
        {{ 'message.info.no_delivery_address'|trans }}
    {% endif %}

    {% if billingAddress or app.session.get('newBillingAddress') %} {# Billing address #}
        {% if billingAddress %} {# Selected #}
            {% set billing = billingAddress %}
        {% elseif app.session.get('newBillingAddress') %} {# New #}
            {% set billing = app.session.get('newBillingAddress') %}
        {% endif %}

        {{ self.printAddress('billing', billing.title, billing.city, billing.zipCode, billing.street, billing.houseNumber, billing.doorBell, billing.floor, billing.door) }}
    {% else %}
        {{ 'message.info.no_billing_address'|trans }}
    {% endif %}

    {% if app.session.get('order_comment') %}
        <div class="order_comment">
            <span>{{ 'common.comment'|trans }}</span>
            {{ app.session.get('order_comment') }}
        </div>
    {% endif %}

    <div class="confirm_links">
        <a href="{{ path('app_site_simpleshop_neworder_selectproducts') }}" class="btn btn-default">{{ 'nav.order.confirm.back_to_products'|trans }}</a>
        <a href="{{ path('app_site_simpleshop_neworder_selectaddresses') }}" class="btn btn-default">{{ 'nav.order.confirm.back_to_addresses'|trans }}</a>
        <a href="{{ path('app_site_simpleshop_neworder_submitorder') }}" class="btn btn-default pull-right">{{ 'nav.order.confirm.submit_order'|trans }}</a>
    </div>

    {{ afterTextEntity.getText()|raw }}

{% endblock %}

{#
 # Show delivery or billing address table.
 #}
{% macro printAddress(type, title, city, zipCode, street, houseNumber, doorBell, floor, door) %}
    <table class="table confirm_address">
        <thead>
        <tr>
            <th colspan="2">{{ ('common.' ~ type ~ '_address')|trans}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ 'common.title'|trans}}</td>
            <td>{{ title }}</td>
        </tr>
        <tr>
            <td>{{ 'common.city'|trans}}</td>
            <td>{{ city }}</td>
        </tr>
        <tr>
            <td>{{ 'common.zip_code'|trans}}</td>
            <td>{{ zipCode }}</td>
        </tr>
        <tr>
            <td>{{ 'common.street'|trans}}</td>
            <td>{{ street }}</td>
        </tr>
        <tr>
            <td>{{ 'common.house_number'|trans}}</td>
            <td>{{ houseNumber }}</td>
        </tr>
        <tr>
            <td>{{ 'common.door_bell'|trans}}</td>
            <td>{{ doorBell }}</td>
        </tr>
        <tr>
            <td>{{ 'common.floor'|trans}}</td>
            <td>{{ floor }}</td>
        </tr>
        <tr>
            <td>{{ 'common.door'|trans}}</td>
            <td>{{ door }}</td>
        </tr>
        </tbody>
    </table>
{% endmacro %}