{% extends 'site/site.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {{ 'page_title.site.new_order.select_products'|trans }} - {{ parent() }}
{% endblock %}

{% block siteContent %}
    {# Text as string. #}
    {{ beforeProductsText|raw }}

    <div id="new_order_select_products_form">
        {{ form_start(form) }}

        <table class="table">
            {% for category in categories %}
                <tr class="category_spacer"></tr>
                <tr>
                    <td colspan="4" class="category_title">{{ category.label }}</td>
                </tr>
                {% for product in category.products %}
                    <tr>
                        <td class="image">
                            {% if product.image is not null %}
                                <img src="{{ imagePath }}{{ product.image.storageName }}" />
                            {% endif %}
                        </td>
                        <td class="product">
                            <div class="title">
                                {{ product.label }}
                            </div>
                            <div class="description">
                                {{ product.description }}
                            </div>
                        </td>
                        <td class="price">
                            <span class="value">
                                {{ product.price }}
                            </span>
                            <span class="postfix">
                                {{ 'currency_short'|trans }}
                            </span>
                        </td>
                        <td class="piece">
                            {{ form_widget(attribute(form, 'product' ~ product.id)) }}
                            <span>
                                {{ 'quantity_short'|trans }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>

        {{ form_row(form.save, {'attr':{'class':'btn-default pull-right'}}) }}

        {{ form_end(form) }}

    </div>

    {{ afterProductsText|raw }}
{% endblock %}