{% extends 'site/site.html.twig' %}

{% block title %}
    Termekek listaja - {{ parent() }}
{% endblock %}

{% block siteContent %}
    <br/>
    {{ beforeProductsTextEntity.getText()|raw }}
    <br/><br/>

    {{ form_start(form) }}

    {% for category in categories %}
        <hr/>
        <b>{{ category.label }}</b>
        {% for product in category.products %}
            <table border="1">
                <tr>
                    <td>
                        {{ product.label }}
                    </td>
                    <td>
                        {{ product.description }}
                    </td>
                    <td>
                        {{ product.price }} HUF
                    </td>
                    <td>
                        {{ form_widget(attribute(form, 'product' ~ product.id)) }} db
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% endfor %}

    {{ form_end(form) }}

    <br/><br/>
    {{ afterProductsTextEntity.getText()|raw }}
    <br/>
{% endblock %}