{% extends 'site/site.html.twig' %}

{% form_theme addressesForm 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {{ 'page_title.site.new_order.select_addresses'|trans }} - {{ parent() }}
{% endblock %}

{% block siteContent %}
    {{ beforeAddressesTextEntity.getText()|raw }}
    <br/>

    {# Show warning of orderSumPrice lesser than orderMinimumPrice for delivery #}
    {% if orderSumPrice < orderMinimumPrice %}
        <br/>
        {{ warningSumPriceBelowDeliveryLimitText|raw }}
    {% endif %}

    <br/>

    {{ form_start(addressesForm, {'attr':{'id':'address-form'}}) }}

    {# Delivery address #}
    {{ form_row(addressesForm.askingForDeliveryCheckbox) }}
    <div id="delivery-address" class="address-blocks">
        {{ form_row(addressesForm.deliveryAddress) }}
        {{ form_row(addressesForm.newDeliveryAddressCheckbox) }}
        <div id="new-delivery-address">
            {{ form_row(addressesForm.newDeliveryAddress) }}
        </div>
    </div>

    {# Billing address #}
    {{ form_row(addressesForm.askingForBillingCheckbox) }}
    <div id="billing-address" class="address-blocks">
        {{ form_row(addressesForm.billingAddress) }}
        {{ form_row(addressesForm.newBillingAddressCheckbox) }}
        <div id="new-billing-address">
            {{ form_row(addressesForm.newBillingAddress) }}
        </div>
    </div>

    {# Comment #}
    {{ form_row(addressesForm.comment) }}

    {# Buttons #}
    <div class="form-group">
        <div class="col-sm-12">
            <a href="{{ path('app_site_simpleshop_neworder_selectproducts') }}" class="btn btn-default">
                {{ 'back'|trans }}
            </a>

            {{ form_widget(addressesForm.save, {'attr':{'class':'btn-default pull-right'}}) }}
        </div>
    </div>

    {{ form_end(addressesForm) }}

    <br/>
    {{ afterAddressesTextEntity.getText()|raw }}
    <br/>
{% endblock %}

{% block preScripts %}
    <script type="text/javascript" src="{{ asset('js/egf/egf.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/site/new-order-select-create-addresses.js') }}"></script>
{% endblock %}

{% block postScripts %}
    <script type="text/javascript">

        // Delivery address.
        var deliveryAddressId = {{ app.session.get('deliveryAddressId')|number_format }};
        var newDeliveryAddress = {{ app.session.get('newDeliveryAddress')|json_encode|raw }};

        var deliveryAddress = new AddressSelectorCreator()
            .setType('delivery')
            .init();

        {# Delivery possible. #}
        {% if orderSumPrice >= orderMinimumPrice %}
            if (deliveryAddressId) {
                deliveryAddress.selectAddress(deliveryAddressId);
            } else if (newDeliveryAddress) {
                deliveryAddress.newAddress(newDeliveryAddress);
            } else {
                deliveryAddress.noAddress();
            }
        {# No delivery available. #}
        {% else %}
            deliveryAddress
                .noAddress()
                .disableDelivery();
        {% endif %}

        // Billing address.
        var billingAddressId  = {{ app.session.get('billingAddressId')|number_format }};
        var newBillingAddress = {{ app.session.get('newBillingAddress')|json_encode|raw }};

        var billingAddress = new AddressSelectorCreator()
            .setType('billing')
            .init();

        if (billingAddressId) {
            billingAddress.selectAddress(billingAddressId);
        } else if (newBillingAddress) {
            billingAddress.newAddress(newBillingAddress);
        } else {
            billingAddress.noAddress();
        }

    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .hidden {
            display: none;
        }
    </style>

{% endblock %}