{% extends 'admin/admin.html.twig' %}

{% import 'admin/macro.html.twig' as macro %}

{% block title %}
    {{ 'page_title.admin.product.list'|trans }} - {{ parent() }}
{% endblock %}

{% block adminMenu %}
    {% include 'admin/adminMenu.html.twig' with {activeMenu:'product'} %}
{% endblock %}

{% block buttons %}
    {{ macro.button('app_admin_simpleshop_product_create', 'create'|trans) }}
{% endblock %}

{% block contentTitle %}
    {{ 'page_title.admin.product.list'|trans }}
{% endblock %}

{% block adminContent %}
    {# Template for egf table. #}
    {% include 'admin/js-templates/egf-table-template.html' %}
    {% include 'admin/js-templates/egf-table-row-template.html' %}
    {% include 'admin/js-templates/egf-pagination-template.html' %}


    {# Content #}
    <div id="table-container"></div>
{% endblock %}

{% block preScripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/egf/egf-table.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-pagination.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-sf-route.js') }}"></script>
{% endblock %}

{% block postScripts %}
    {{ parent() }}
    <script type="text/javascript">

        // Because of the strange number in string comparison in JS.
        var products = JSON.parse('{{ listAsJson|raw }}');
        Egf.Util.forEach(products, function (product) {
            product.productSort = Egf.Util.addLeadingZero(product.category.sequence, 8) + " " + Egf.Util.addLeadingZero(product.sequence, 8);
        });

        // Table.
        new Egf.Table()
            .setContainerElemId('table-container')
            .setContents(products)
            .setConfig({
                sortByColumnKey: 0,
                sortByReversed:  false,
                rowsOnPage:      15
            })
            .setTranslations({
                globalSearchPlaceholder: '{{ "search"|trans }}'
            })
            .setColumns([{
                text: '{{ "sequence"|trans }}',
                func: function (row) {
                    return row.category.sequence + " / " + row.sequence;
                },
                sort: function (row) {
                    return row.productSort;
                }
            }, {
                text:     '{{ "label"|trans }}',
                property: 'label',
                search:   'string',
                sort:     true
            }, {
                text: '{{ "category"|trans }}',
                func: function (row) {
                    return row.category.label;
                },
                sort: true
            }, {
                text: '{{ "active"|trans }}',
                func: function (row) {
                    return Egf.Util.boolVal(row.active) ? '{{ "active"|trans }}' : '{{ "inactive"|trans }}';
                },
                sort: function (row) {
                    // On sorting, put active first.
                    return (row.active ? 1 : 2);
                }
            }, {
                text: '{{ "price"|trans }}',
                func: function (row) {
                    return row.price + ' {{ "currency_short"|trans }}';
                },
                sort: function (row) {
                    return parseInt(row.price);
                },
            }, {
                text: '',
                func: function (row) {
                    var updateUrl = new Egf.Sf.Route()
                        .setRoute('{{ path('app_admin_simpleshop_product_update', {'product':'_id_'}) }}')
                        .setParams({
                            '_id_': row.id
                        })
                        .getUrl();
                    var html = "<a href='" + updateUrl + "' class='btn btn-default btn-xs'>{{ 'update'|trans }}</a> ";

                    var selectImageUrl = new Egf.Sf.Route()
                        .setRoute('{{ path('app_admin_simpleshop_product_selectimagelist', {'product':'_id_'}) }}')
                        .setParams({
                            '_id_': row.id
                        })
                        .getUrl();
                    html += "<a href='" + selectImageUrl + "' class='btn btn-default btn-xs'>{{ 'nav.select_image.select_image'|trans }}</a> ";

                    return html;
                }
            }, {
                text: '',
                func: function (row) {

                }
            }])
            .init();
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}