{% extends 'admin/admin.html.twig' %}

{% import 'admin/macro.html.twig' as macro %}

{% block title %}
    {{ 'page_title.admin.product.select_image'|trans({'%product%': product.label}) }} - {{ parent() }}
{% endblock %}

{% block adminMenu %}
    {% include 'admin/adminMenu.html.twig' with {activeMenu:'product'} %}
{% endblock %}

{% block buttons %}
    {{ macro.button('app_admin_simpleshop_product_list', 'back_to_list'|trans) }}
    {{ macro.buttonToUrl(path('app_admin_simpleshop_product_update', {product: product.id}), 'nav.select_image.back_to_product_update'|trans) }}
{% endblock %}

{% block contentTitle %}
    {{ 'page_title.admin.product.select_image'|trans({'%product%': product.label}) }}
{% endblock %}

{% block adminContent %}
    {# Template for egf table. #}
    {% include 'admin/js-templates/egf-table-template.html' %}
    {% include 'admin/js-templates/egf-table-row-template.html' %}
    {% include 'admin/js-templates/egf-pagination-template.html' %}

    {# Content #}
    <div id="table-container"></div>
{% endblock %}

{% block preScripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/egf/egf-table.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-pagination.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-sf-route.js') }}"></script>
{% endblock %}

{% block postScripts %}
    {{ parent() }}
    <script type="text/javascript">
        new Egf.Table()
            .setContainerElemId('table-container')
            .setContents(JSON.parse('{{ images|raw }}'))
            .setConfig({
                sortByColumnKey: 0,
                sortByReversed:  false,
                rowsOnPage:      10
            })
            .setTranslations({
                globalSearchPlaceholder: '{{ "search"|trans }}'
            })
            .setColumns([{
                text:     '{{ "label"|trans }}',
                property: 'label',
                search:   'string',
                sort:     true
            }, {
                text:     '{{ "description"|trans }}',
                property: 'description',
                search:   'string',
                sort:     true
            }, {
                text: 'Image',
                func: function (row) {
                    return "<img src='{{ uploadsDir }}" + row.storageName + "' style='max-height:80px;' />";
                }
            }, {
                text: '',
                func: function (row) {
                    if (row.id === {{ product.image.id }}) {
                        return '{{ "nav.select_image.currently_selected"|trans }}';
                    }
                    else {
                        var url = new Egf.Sf.Route()
                            .setRoute('{{ path('app_admin_simpleshop_product_selectimagesubmit', {'product': product.id, 'file':'_id_'}) }}')
                            .setParams({
                                '_id_': row.id
                            })
                            .getUrl();

                        return "<a href='" + url + "' class='btn btn-default'>{{ 'nav.select_image.select_this_one'|trans }}</a>";
                    }
                }
            }])
            .init();
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}