{% extends 'admin/admin.html.twig' %}

{% import 'admin/macro.html.twig' as macro %}

{% block title %}
    {{ 'page_title.admin.order.details'|trans }} - {{ parent() }}
{% endblock %}

{% block adminMenu %}
    {% include 'admin/adminMenu.html.twig' with {activeMenu:'order'} %}
{% endblock %}

{% block buttons %}
    {{ macro.button('app_admin_simpleshop_order_list', 'common.back_to_list'|trans) }}
{% endblock %}

{% block contentTitle %}
    {{ 'page_title.admin.order.details'|trans }}
{% endblock %}

{% block adminContent %}

    <span class="col-sm-2 bold">{{ 'common.name'|trans }}</span>
    <span class="col-sm-10">{{ order.user.name }}</span>

    <span class="col-sm-2 bold">{{ 'common.email'|trans }}</span>
    <span class="col-sm-10">{{ order.user.email }}</span>

    <span class="col-sm-2 bold">{{ 'common.phone'|trans }}</span>
    <span class="col-sm-10">{{ order.user.phone }}</span>

    <div class="col-sm-12 separator"></div>

    <span class="col-sm-2 bold">{{ 'common.status'|trans }}</span>
    <span class="col-sm-10">{{ order.status.label }}</span>

    <span class="col-sm-2 bold">{{ 'common.date'|trans }}</span>
    <span class="col-sm-10">{{ order.date|date }}</span>

    <div class="col-sm-12 separator"></div>

    <span class="col-sm-2 bold">{{ 'common.products'|trans }}</span>
    <span class="col-sm-10"></span>

    <div class="table-container">
    <table class="table table-stripped">
        <thead>
        <tr>
            <th>{{ 'common.product'|trans }}</th>
            <th>{{ 'common.quantity'|trans }}</th>
            <th>{{ 'common.price'|trans }}</th>
            <th>{{ 'common.sum_total'|trans }}</th>
        </tr>
        </thead>

        {% set sumPrice = 0 %}

        {% for item in order.items %}
            {% set price = item.price ? item.price : item.product.price %}
            {% set rowPrice = price * item.count %}
            {% set sumPrice = sumPrice + rowPrice %}

            <tr>
                <td>{{ item.product.label }}</td>
                <td>{{ item.count }} {{ 'common.quantity_short'|trans }}</td>
                <td>{{ price }} {{ 'common.currency_short'|trans }}</td>
                <td>{{ rowPrice }} {{ 'common.currency_short'|trans }}</td>
            </tr>
        {% endfor %}
    </table>

        {% if order.deliveryAddress and sumPrice < noDeliveryPriceAbove %}
            {% set sumPrice = sumPrice + deliveryPrice %}

            <div class="col-sm-2">{{ 'common.delivery_price'|trans }}:</div>
            <div class="col-sm-10">{{ deliveryPrice }} {{ 'common.currency_short'|trans }}</div>
        {% endif %}
        <div class="col-sm-2">{{ 'common.sum_total'|trans }}:</div>
        <div class="col-sm-10 bold">{{ sumPrice }} {{ 'common.currency_short'|trans }}</div>

    </div>

    <div class="col-sm-12 separator"></div>

    {% if order.deliveryAddress %}
        <div class="table-container">
            {{ macro.address(order.deliveryAddress, 'common.delivery_address'|trans) }}
        </div>
    {% else %}
        <div class="col-sm-12 text-center bold">
            {{ 'message.info.no_delivery_address'|trans }}
        </div>
    {% endif %}

    {% if order.billingAddress %}
        <div class="table-container">
            {{ macro.address(order.deliveryAddress, 'common.billing_address'|trans) }}
        </div>
    {% else %}
        <div class="col-sm-12 text-center bold">
            {{ 'message.info.no_billing_address'|trans }}
        </div>
    {% endif %}

    <div class="col-sm-12 separator"></div>

    <span class="col-sm-2 bold">{{ 'common.comment'|trans }}</span>
    <span class="col-sm-10">{{ order.comment }}</span>

    <div class="col-sm-12 separator"></div>

{% endblock %}