{% extends 'admin/admin.html.twig' %}

{% import 'admin/macro.html.twig' as macro %}

{% block title %}
    {{ 'page_title.admin.order.details'|trans }} - {{ parent() }}
{% endblock %}

{% block adminMenu %}
    {% include 'admin/adminMenu.html.twig' with {activeMenu:'order'} %}
{% endblock %}

{% block buttons %}
    {{ macro.button('app_admin_simpleshop_order_list', 'back_to_list'|trans) }}
{% endblock %}

{% block contentTitle %}
    {{ 'page_title.admin.order.details'|trans }}
{% endblock %}

{% block adminContent %}

    <span class="col-sm-2 bold">{{ 'name'|trans }}</span>
    <span class="col-sm-10">{{ order.user.name }}</span>

    <span class="col-sm-2 bold">{{ 'email'|trans }}</span>
    <span class="col-sm-10">{{ order.user.email }}</span>

    <span class="col-sm-2 bold">{{ 'phone'|trans }}</span>
    <span class="col-sm-10">TODO</span>

    <div class="col-sm-12 separator"></div>

    <span class="col-sm-2 bold">{{ 'status'|trans }}</span>
    <span class="col-sm-10">{{ order.status.label }}</span>

    <span class="col-sm-2 bold">{{ 'date'|trans }}</span>
    <span class="col-sm-10">{{ order.date|date }}</span>

    <div class="col-sm-12 separator"></div>

    <span class="col-sm-2 bold">{{ 'products'|trans }}</span>
    <span class="col-sm-10"></span>

    <div class="table-container">
    <table class="table table-stripped">
        <thead>
        <tr>
            <th>{{ 'product'|trans }}</th>
            <th>{{ 'quantity'|trans }}</th>
            <th>{{ 'price'|trans }}</th>
            <th>{{ 'sum_total'|trans }}</th>
        </tr>
        </thead>

        {% set sumPrice = 0 %}

        {% for item in order.items %}
            {% set price = item.price ? item.price : item.product.price %}
            {% set rowPrice = price * item.count %}
            {% set sumPrice = sumPrice + rowPrice %}

            <tr>
                <td>{{ item.product.label }}</td>
                <td>{{ item.count }} {{ 'quantity_short'|trans }}</td>
                <td>{{ price }} {{ 'currency_short'|trans }}</td>
                <td>{{ rowPrice }} {{ 'currency_short'|trans }}</td>
            </tr>
        {% endfor %}
    </table>

        {% if order.deliveryAddress and sumPrice < noDeliveryPriceAbove %}
            {% set sumPrice = sumPrice + deliveryPrice %}

            <div class="col-sm-2">{{ 'delivery_price'|trans }}:</div>
            <div class="col-sm-10">{{ deliveryPrice }} {{ 'currency_short'|trans }}</div>
        {% endif %}
        <div class="col-sm-2">{{ 'sum_total'|trans }}:</div>
        <div class="col-sm-10 bold">{{ sumPrice }} {{ 'currency_short'|trans }}</div>

    </div>

    <div class="col-sm-12 separator"></div>

    {% if order.deliveryAddress %}
        <div class="table-container">
            {{ macro.address(order.deliveryAddress, 'delivery_address'|trans) }}
        </div>
    {% else %}
        <div class="text-center bold">
            {{ 'message.info.no_delivery_address'|trans }}
        </div>
    {% endif %}

    {% if order.billingAddress %}
        <div class="table-container">
            {{ macro.address(order.deliveryAddress, 'billing_address'|trans) }}
        </div>
    {% else %}
        <div class="text-center bold">
            {{ 'message.info.no_billing_address'|trans }}
        </div>
    {% endif %}

    <div class="col-sm-12 separator"></div>

    <span class="col-sm-2 bold">{{ 'comment'|trans }}</span>
    <span class="col-sm-10">{{ order.comment }}</span>

    <div class="col-sm-12 separator"></div>

{% endblock %}