{% extends 'admin/admin.html.twig' %}

{% import 'admin/macro.html.twig' as macro %}

{% form_theme formView 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {% if order.id %}
        {{ 'page_title.admin.order.update'|trans({'%date%':order.date|date('Y-m-d'), '%name%':order.user.name}) }}
    {% else %}
        {{ 'page_title.admin.order.create'|trans }}
    {% endif %}
    - {{ parent() }}
{% endblock %}

{% block adminMenu %}
    {% include 'admin/adminMenu.html.twig' with {activeMenu:'order'} %}
{% endblock %}

{% block buttons %}
    {{ macro.button('app_admin_simpleshop_order_list', 'back_to_list'|trans) }}
{% endblock %}

{% block contentTitle %}
    {% if order.id %}
        {{ 'page_title.admin.order.update'|trans({'%date%':order.date|date, '%name%':order.user.name}) }}
    {% else %}
        {{ 'page_title.admin.order.create'|trans }}
    {% endif %}
{% endblock %}

{% block adminContent %}

    {{ form_start(formView) }}
    {{ form_row(formView.status) }}
    {{ form_row(formView.comment) }}

    <div class="form-group order-items">
        {{ form_label(formView.items, 'products', {'class': 'col-sm-2 control-label'}) }}
        <div class="col-sm-10">
            <ul id="items-field-list" data-prototype="{{ form_widget(formView.items.vars.prototype)|e }}">
                {% for orderItem in formView.items %}
                    <li>
                        {{ form_widget(orderItem) }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-sm-10 pull-right">
            <a href="#" id="add-another-item" class="btn btn-default">
                {{ 'nav.order.add_item'|trans }}
            </a>
        </div>
    </div>

    {{ form_row(formView.save) }}

    {{ form_end(formView) }}

{% endblock %}

{% block preScripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
{% endblock %}

{% block postScripts %}
    {{ parent() }}

    <script type="text/javascript">
        var itemsCount = '{{ formView.items|length }}';
        var deleteLabel = '{{ "delete"|trans }}';
        var deleteConfirmText = '{{ "form.order.delete_confirm_text"|trans }}';
    </script>

    <script type="text/javascript" src="{{ asset('js/admin/simpleshop-order-form.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}