{% extends 'admin/admin.html.twig' %}

{% import 'admin/macro.html.twig' as macro %}

{% form_theme formView 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {% if order.id %}
        {{ 'admin.title.order.update'|trans({'%date%':order.date|date('Y-m-d'), '%name%':order.user.name}) }}
    {% else %}
        {{ 'admin.title.order.create'|trans }}
    {% endif %}
    - {{ parent() }}
{% endblock %}

{% block adminMenu %}
    {% include 'admin/adminMenu.html.twig' with {activeMenu:'order'} %}
{% endblock %}

{% block buttons %}
    {{ macro.button('app_admin_simpleshop_order_list', 'admin.link.back_to_list'|trans) }}
{% endblock %}

{% block contentTitle %}
    {% if order.id %}
        {{ 'admin.title.order.update'|trans({'%date%':order.date|date('Y-m-d'), '%name%':order.user.name}) }}
    {% else %}
        {{ 'admin.title.order.create'|trans }}
    {% endif %}
{% endblock %}

{% block adminContent %}


    {{ form_start(formView) }}
    {{ form_row(formView.status) }}
    <br />
    {{ form_row(formView.comment) }}
    <br />

    <br />

    {{ form_label(formView.items) }}
    <ul id="items-field-list" data-prototype="{{ form_widget(formView.items.vars.prototype)|e }}">
        {% for orderItem in formView.items %}
            <li>
                {{ form_errors(orderItem) }}
                {{ form_widget(orderItem) }}
            </li>
        {% endfor %}
    </ul>

    <br />
    <a href="#" id="add-another-item">Add another item</a>
    <br />

    <!--{{ form_widget(formView) }}--> {# TODO submit #}
    {{ form_end(formView) }}

{% endblock %}

{% block preScripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
{% endblock %}

{% block postScripts %}
    {{ parent() }}

    <script type="text/javascript">

        // Add item.
        var itemsCount = '{{ formView.items|length }}';
        jQuery(document).ready(function() {
            jQuery('#add-another-item').click(function(e) {
                e.preventDefault();

                var emailList = jQuery('#items-field-list');

                var newWidget = emailList.attr('data-prototype');

                newWidget = newWidget.replace(/__name__/g, itemsCount);

                var newLi = jQuery('<li></li>').html(newWidget);
                newLi.appendTo(emailList);

                jQuery('#order_items_' + itemsCount + '_count').val(1);

                itemsCount++;
            });
        });


        // Remove item.
        jQuery(document).ready(function() {
            var collectionHolder = jQuery('#items-field-list');

            collectionHolder.find('li').each(function() {
                addTagFormDeleteLink(jQuery(this));
            });
        });

        /**
         * Do the remove element part of removing form item.
         * @param tagFormLi
         */
        function addTagFormDeleteLink(tagFormLi) {
            var removeFormA = jQuery('<a href="#">delete this tag</a>');
            tagFormLi.append(removeFormA);

            removeFormA.on('click', function(e) {
                e.preventDefault();

                tagFormLi.remove();
            });
        }

    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}