{% extends 'admin/admin.html.twig' %}

{% block title %}
    Rendelesek - {{ parent() }}
{% endblock %}

{% block adminContent %}
    {# Template for egf table. #}
    {% include 'admin/js-templates/egf-table-template.html' %}
    {% include 'admin/js-templates/egf-table-row-template.html' %}
    {% include 'admin/js-templates/egf-pagination-template.html' %}

    {# Buttons #}
    <a href="{{ path('app_admin_simpleshop_order_create') }}">Uj rendeles</a><br/><br/>

    {# Content #}
    <div id="table-container"></div>
{% endblock %}

{% block preScripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/egf/egf-table.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-pagination.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-sf-route.js') }}"></script>
{% endblock %}

{% block postScripts %}
    {{ parent() }}
    <script type="text/javascript">
        new Egf.Table()
            .setContainerElemId('table-container')
            .setContents(JSON.parse('{{ listAsJson|raw }}'))
            .setConfig({
                sortByColumnKey: 1,
                sortByReversed:  true,
                rowsOnPage:      5
            })
            .setTranslations({
                globalSearchPlaceholder: 'Kereses'
            })
            .setColumns([{
                text: 'Status',
                search:   'string',
                func: function (row) {
                    return row.status.label;
                },
                sort: function (row) {
                    return row.id;
                }
            }, {
                text: 'Date',
                func: function (row) {
                    return row.date;
                },
                sort: true
            }, {
                text: 'Price summarized',
                property: 'priceSum',
                sort: true
            }, {
                text: '',
                func: function (row) {
                    var url = new Egf.Sf.Route()
                        .setRoute('{{ path('app_admin_simpleshop_order_update', {'order':'_id_'}) }}')
                        .setParams({
                            '_id_': row.id
                        })
                        .getUrl();

                    return "<a href='" + url + "'>Modosit</a>";
                }
            }])
            .init();
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}