{% extends 'admin/admin.html.twig' %}

{% import 'admin/macro.html.twig' as macro %}

{% block title %}
    {{ 'page_title.admin.order.list'|trans }} - {{ parent() }}
{% endblock %}

{% block adminMenu %}
    {% include 'admin/adminMenu.html.twig' with {activeMenu:'order'} %}
{% endblock %}

{% block buttons %}
{% endblock %}

{% block contentTitle %}
    {{ 'page_title.admin.order.list'|trans }}
{% endblock %}

{% block adminContent %}
    {# Template for egf table. #}
    {% include 'admin/js-templates/egf-table-template.html' %}
    {% include 'admin/js-templates/egf-table-row-template.html' %}
    {% include 'admin/js-templates/egf-pagination-template.html' %}

    {# Content #}
    <div id="table-container"></div>
{% endblock %}

{% block preScripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/egf/egf-table.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-pagination.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/egf/egf-sf-route.js') }}"></script>
{% endblock %}

{% block postScripts %}
    {{ parent() }}
    <script type="text/javascript">
        new Egf.Table()
            .setContainerElemId('table-container')
            .setContents(JSON.parse('{{ listAsJson|raw }}'))
            .setConfig({
                sortByColumnKey: 1,
                sortByReversed:  true,
                rowsOnPage:      10
            })
            .setTranslations({
                globalSearchPlaceholder: '{{ "search"|trans }}'
            })
            .setColumns([{
                text:   '{{ "id"|trans }}',
                search: 'string',
                property: 'id'
            }, {
                text:   '{{ "status"|trans }}',
                search: 'string',
                func:   function (row) {
                    return row.status.label;
                },
                sort:   function (row) {
                    return row.id;
                }
            }, {
                text:     '{{ "date"|trans }}',
                property: 'date',
                sort:     true
            }, {
                text: '{{ "sum_total"|trans }}',
                func: function (row) {
                    return row.priceSum + ' {{ "site.common.price_short"|trans }}';
                },
                sort: true
            }, {
                text: '',
                func: function (row) {
                    var detailsUrl = new Egf.Sf.Route()
                        .setRoute('{{ path('app_admin_simpleshop_order_details', {'order':'_id_'}) }}')
                        .setParams({
                            '_id_': row.id
                        })
                        .getUrl();

                    var html = "<a href='" + detailsUrl + "' class='btn btn-default'>{{ 'details'|trans }}</a> ";

                    var updateUrl = new Egf.Sf.Route()
                        .setRoute('{{ path('app_admin_simpleshop_order_update', {'order':'_id_'}) }}')
                        .setParams({
                            '_id_': row.id
                        })
                        .getUrl();

                    html += "<a href='" + updateUrl + "' class='btn btn-default'>{{ 'update'|trans }}</a> ";

                    return html;
                }
            }])
            .init();
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}