{% extends 'admin/admin.html.twig' %}

{% block title %}
    {% if enCategory.label %}
        Kategoria ({{ enCategory.label }}) modositas
    {% else %}
        Kategoria letrehozas
    {% endif %}
    - {{ parent() }}
{% endblock %}

{% block adminContent %}

    {{ form_start(oForm) }}
    {{ form_widget(oForm) }}
    {{ form_end(oForm) }}

    <a href="{{ path('app_admin_category_list') }}">Vissza a kategoria listahoz</a>

    <script type="text/javascript">
    </script>

{% endblock %}

{% block preScripts %}
    {{ parent() }}
{% endblock %}

{% block postScripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
     {{ parent() }}
 {% endblock %}