<!DOCTYPE html>
<html>
{#{% spaceless %}#}
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}{{ 'page_title.site.base'|trans }}{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/site/reset.css') }}" />
        {% endblock %}

        <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
        <meta name="description" content="{% block description %}{% endblock %}"/>
        <meta name="keywords" content="{% block keywords %}{% endblock %}"/>
        <meta property='og:locale' content='hu_HU'/>
        <meta property='og:title' content='{{ block('title') }}' />
        <meta property='og:description' content='{{ block('description') }}'/>
        <meta property='og:url' content='{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}'/>
        <meta property='og:site_name' content='Fürjtojás.eu'/>
        <meta property='og:type' content='article'/>

        {% block preScripts %}{% endblock %}

    </head>
{#{% endspaceless %}#}
    <body class="home page page-id-4 page-template-default">

        {% block body %}{% endblock %}

        {% block postScripts %}{% endblock %}

    </body>
</html>
